<h1><%= @post.title %></h1>
<center>
<table width="700px">

<% @post.comments.each do |comment| %>
<tr><td width="700px"><div class="hr1">
<br />
</div></td></tr>
    <tr><td width="300px" align="center"><%= comment.comment %>
</td>
<td align="right"><%= comment.created_at.strftime("%Y-%m-%d") %></td>
  </tr>
<tr><td width="700px"><div class="hr1">
<br />
</div></td></tr>
<% end %>
</table>
<center>

<br />

<%= link_to 'Back', posts_path %>
