<h1><%= @post.title %></h1>
<center>
<table width="100px">
<tr><td colspan="2"><div class="hr1">
<br />
</div></td></tr>
<% @post.comments.each do |comment| %>

    <tr><td align="center" width="300px"><%= comment.comment %> </td><td  width="100px">  <%= comment.created_at.strftime("%Y-%m-%d") %></td></tr>
<tr><td colspan="2"><div class="hr1">
<br />
</div></td></tr>
<% end %>
</table>
<center>

<br />

<%= link_to 'Back', posts_path %>
